:root {
  --global-1: var(--brand-500); // change color here
  --global-2: var(--white-500); // change color here
}

.membersGroup-2eiWxl {
  color: var(--global-2) !important;
  background-color: var(--global-1);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 2px;
  font-size: 12px;
  height: 2.5vh;
  /*font-weight: bold; Use if your font is too light*/
  text-align: center;
}

.containerDefault-3TQ5YN .overflow-1wOqNV {
  color: var(--global-2) !important;
  background-color: var(--global-1);
  border-radius: 6px;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 6px;
  font-size: 14px;
  /*font-weight: bold; Use if your font is too light*/
  text-align: center;
}
.arrow-2HswgU {
  top: 0px;
  zoom: 125% ;
}
